@font-face {
  font-family: 'CircularStd-Book';
  src: url('fonts/circular-std/CircularStd-Book.otf');
}

@font-face {
  font-family: 'CircularStd-Medium';
  src: url('fonts/circular-std/CircularStd-Medium.otf');
}

@font-face {
  font-family: 'Graphik-Light';
  src: url('fonts/graphik/Graphik-Light.otf');
}

@font-face {
  font-family: 'Graphik-Regular';
  src: url('fonts/graphik/Graphik-Regular.otf');
}

@font-face {
  font-family: 'Graphik-Medium';
  src: url('fonts/graphik/Graphik-Medium.otf');
}

@font-face {
  font-family: 'Graphik-Bold';
  src: url('fonts/graphik/Graphik-Bold.otf');
}

/*
  General Styling
  
  Colors:
  light-gray: #FFFFFF
  light-gray: #F6F7F9
  med-gray: #97989C
  dark-gray: #626262
  orange: #FC8E19
  number on gray: #EAEBED
*/

body {
  font-family: 'Graphik-Light', Arial, sans-serif;
  background-color: #FC8E19;
  color: #333;
  margin: 0;
}

a,a:visited {
  text-decoration: none;
  color: #d69e00;
}

a:hover {
  color: #e4b532;
}

.text-wht {
  color: #ffffff; 
}

.text-orange {
  color: #FC8E19; 
}


overline{
  font-family: 'Graphik-Medium', Arial, sans-serif;
  font-size: .8em;
  letter-spacing: 0.12em;
  color: #626262;
}

h1 {
  font-family: 'Graphik-Regular', Arial, sans-serif;
  font-size: 2em;
  line-height: 1.2em;
  color: #626262; 
}

p { 
  font-family: 'Graphik-Light', Arial, sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  padding-bottom: 2em;
  color: #626262;
}

h3 {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 18px;
  margin: 10px 5px;
  padding: 10px 15px;
}

.text-container{
 width: 40%;
 max-width: 1000px;
 min-width: 600px;
 margin-right: 8em;
 display: inline-block;
}

.text-container-center{
 width: 40%;
 max-width: 1000px;
 min-width: 600px;
 padding-top: 4em;
 margin: 20px auto;
}

#btn{
  font-family: 'Graphik-Regular', Arial, sans-serif;
  color: #ffffff;
  font-size: 1em;
  letter-spacing: 0.08em;
  border: 2px solid #ffffff; 
  padding: 10px 20px;
  border-radius: 3px;
}

/*
  Navigation
*/

.main-nav {
  width: 80%;
  min-width: 960px;
  max-width: 1080;
  margin: 20px auto;
  text-align: right;
  
}

a.nav-link {
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  margin: 10px 5px;
  padding: 10px 15px;
}

a.nav-link:hover {
  color: #ffd86b;
  transition: ease .3s;
}
/*
  Logo
  background-image: url(assets/logo/epic-logo-yellow-hover.svg);
  padding-top: 10px;
  background-repeat: none;
  background-position: center top;
*/
#logo {
  float: left;
  padding-top: 10px;
}

#logo:hover {
  opacity: .8;
}

/*
  Main Content
  
*/

.main-content{
  width: 80%;
  min-width: 960px;
  max-width: 1080;
  margin: 20px auto;
}

.spacer{
  min-height: 8em; 
}

.image-right{
  margin-top: 2em;
  display: inline-block;
  vertical-align: top;
}


/*
  Footer
*/

footer{
  min-height: 300px;
  background-color: #97989C;
}

.footer-content{
  width: 80%;
  min-width: 960px;
  max-width: 1080;
  margin: 20px auto;
  padding-top: 50px;
}

#logo-footer{
  float: left;
  padding-top: 10px;
  padding-right: 15%;
}

li{
  display: inline-block;
  vertical-align: top;
  padding-left: 5%;
}

a.nav-link-footer {
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  font-size: 18px;
  margin: 10px 5px;
  padding: 10px 15px;
}

/*
  Hero
*/

.hero{
  min-height: 800px;
  max-height: 100%;
  background-color: #FC8E19;
}


/*
  Home
*/

.hero-home{
  
}

.storage{
  width: 80%;
  min-width: 960px;
  max-width: 1080;
  margin: 20px auto;
}

#img-storage{
  padding-left: 100px;
}

.wht-section{
  min-height: 800px;
  max-height: 100%;
  background-color: #ffffff;
}

.side-kick{
  text-align: center;
  min-height: 360px;
  background-color: #FC8E19;
}

/*
  Have a plan
*/

.hero-plan{
  min-height: 500px;
  max-height: 100%;
  background-color: #FC8E19; 
}

.side-kick-gray{
  text-align: center;
  min-height: 360px;
  background-color: #F5F7F9;
  vertical-align: middle;
}

.disasters{
  background-color: #ffffff;
}




/*
  Build your bag
*/

.build-sec-gray{
  max-height: 100%;
  background-color: #F6F7F9;
}




.build-sec-left{
  width: 80%;
  min-width: 960px;
  max-width: 1080;
  margin: 20px auto;
  text-align: left;
  min-height: 600px;
  background-color: #F5F7F9;
  vertical-align: middle;
}